<div id="map"><!-- Map here --></div>
<div id="sidebar">
  <nav>
    <ul>
      <li><a href="#" title="Previous project" class="project-cntrl" id="nav-prev"><</a></li>
      <li><a href="#" title="Zoom out" class="project-cntrl" id="nav-up">^</a></li>
      <li><a href="#" title="Next project" class="project-cntrl" id="nav-next">></a></li>
      <li><a href="#" title="Filter" id="nav-filter">F</a></li>
      <li><a href="#" title="About" id="nav-about">?</a></li>
      <li><a href="#/add-project" title="Submit project" id="nav-submit">S</a></li>
    </ul>
  </nav>
  <div class="content"><!-- Sidebar.ejs --></div>
</div>