<a id="logo" href="#">Global Resilience Partnership</a>
<div id="map"><!-- Map here --></div>
<div id="grad"></div>
<div id="sidebar">
  <nav>
    <ul>
      <li><a href="#" id="tour-prev" title="Previous" class="tour-cntrl"><</a></li>
	  <li><a href="#" id="tour-next" title="Next" class="tour-cntrl">></a><li>
      <li><a href="#" title="Previous project" class="project-cntrl" id="nav-prev"><</a></li>
      <li><a href="#" title="Zoom out" class="project-cntrl" id="nav-up">^</a></li>
      <li><a href="#" title="Next project" class="project-cntrl" id="nav-next">></a></li>
      <li><a href="#" title="About" id="nav-about">?</a></li>
      <li><a href="#" title="Search" id="nav-search">s</a></li>
      <li><a href="#/add-project" title="Submit project" id="nav-submit">+</a></li>
    </ul>
  </nav>
  <div class="project"><!-- sidebar.ejs --></div>
  <div class="tour"><!-- tour.ejs --></div>
  
  <div id="search">
   <h2>Where is resilience happening?</h2>
  

  <select id="select-facet-filter">
    <option val="country">Country</option>
    <option val="city">City</option>
    <option val="project">Project</option>
  </select>
  
  <select id="select-city-filter">
     <option>Select</option>
  </select>
  <select id="select-country-filter">
    <option>Select</option>
  </select>
  <select id="select-project-filter">
    <option>Select</option>
  </select>
  
  <input id="search-box" class='search-ui' placeholder='Enter a search term' />

<!--
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCities" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuCities">
  </ul>
</div>
-->

<a id="more-info" href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="Resilience is the capacity of communities to survive and grow no matter what kinds of chronic stresses and acute shocks they experience.">?</a>
<a id="add-project" href="#add-project">Submit a project &raquo;</a>
  
</div>

  
</div>



