<div id="map"><!-- Map here --></div>
<div id="sidebar">
  <nav>
    <ul>
      <li><a href="#" id="nav-prev"><</a></li>
      <li><a href="#" id="nav-up">^</a></li>
      <li><a href="#" id="nav-next">></a></li>
    </ul>
  </nav>
  <div class="content"><!-- Sidebar.ejs --></div>
</div>