<div id="project-submission">

  <a href="#">&laquo; Back to map</a>
  <h1>Submit new project</h1>
  <form action="#">

    <fieldset>
      <label for="name">Project title</label>
      <input type="text" class="form-control" name="name" id="name">
    </fieldset>

    <fieldset>
      <label for="proj_description">Short project description</label>
      <textarea name="proj_description" class="form-control" id="proj_description"></textarea>
      <p class="help-text">Provide a short description of the project.</p>
    </fieldset>

    <fieldset>
      <label for="resp_email">Contact Email</label>
      <input type="text" class="form-control" name="resp_email" id="resp_email">
      <p class="help-text">Email will only be used for contact about the project.</p>
    </fieldset>

    <fieldset>
      <label for="url">Link to Project</label>
      <input type="text" class="form-control" name="url" id="url">
      <p class="help-text">Provide a link to the project or organization website.</p>
    </fieldset>

    <fieldset>
      <label for="type">Focus Area</label>
      <select multiple name="type" class="form-control" id="type">
        <option value="Health">Health</option>
        <option value="Food_Agriculture">Food & Agriculture</option>
        <option value="Water">Water</option>
        <option value="Energy">Energy</option>
        <option value="Ecology_Environment">Ecology & Environment</option>
        <option value="Finance_Innovation">Finance & Innovation</option>
        <option value="Oceans_Fisheries">Oceans & Fisheries</option>
        <option value="Urban_Resilience">Urban Resilience</option>
        <option value="Gender_Equity">Gender Equity</option>
        <option value="Economic_Inclusion">Economic Inclusion</option>
        <option value="Climate_Change">Climate Change</option>
        <option value="DRR">Disaster Reduction & Recovery</option>
        <option value="Research_Policy">Research & Policy</option>
        <option value="Technology">Technology</option>
        <option value="Other">Other</option>
      </select>
      <p class="help-text">The thematic focus of the project, e.g."Food & Agriculture". Select all that apply.</p>
    </fieldset>

    <fieldset id="proj-locations">
      <h2>Project locations</h2>
    </fieldset>
    
      <a href="#" class="add" title="Add new project location">Add another location [+]</a>

    <fieldset>
      <input type="submit" class="btn" name="project_submit" value="Submit project">
    </fieldset>

    <p class="help-text add"><a href="mailto:gjacobs@rockfound.org">Contact us</a> with questions or feedback on projects.</p>

  </form>
</div>