<div id="project-submission">

  <a href="#">&laquo; Back to map</a>
  <h1>Submit new project</h1>
  <form action="#">

    <fieldset>
      <label for="name">Project title</label>
      <input type="text" class="form-control" name="name" id="name">
    </fieldset>

    <fieldset>
      <label for="proj_description">Short project description</label>
      <textarea name="proj_description" class="form-control" id="proj_description"></textarea>
      <p class="help-text">Provide a short description of the project.</p>
    </fieldset>

    <fieldset>
      <label for="resp_email">Contact Email</label>
      <input type="text" class="form-control" name="resp_email" id="resp_email">
      <p class="help-text">Email will only be used for contact about the project.</p>
    </fieldset>

    <fieldset>
      <label for="url">Link to Project</label>
      <input type="text" class="form-control" name="url" id="url">
      <p class="help-text">Provide a link to the project or organization website.</p>
    </fieldset>

    <fieldset>
      <label for="type">Theme</label>
      <select name="type" class="form-control" id="type">
        <option value="--">Select theme</option>
        <option value="Agriculture">Agriculture</option>
        <option value="Urban">Urban Resilience</option>
        <option value="DRR">Disaster Reduction and Recovery</option>
        <option value="Livelihoods">Livelihoods</option>
        <option value="Research">Research and Policy</option>
        <option value="Other">Other</option>
      </select>
      <p class="help-text">The thematic focus of the project, e.g."Agriculture".</p>
    </fieldset>

    <fieldset id="proj-locations">
      <h2>Project locations</h2>
    </fieldset>
    
      <a href="#" class="add" title="Add new project location">Add another location [+]</a>

    <fieldset>
      <input type="submit" class="btn" name="project_submit" value="Submit project">
    </fieldset>

  </form>
</div>