<div id="project-submission">
  <h1>Submit new project</h1>
  <form action="#">
    <h2>Project information</h2>
    
    <div class="form-control">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>

    <div class="form-control">
      <label for="type">Type:</label>
      <select name="type" id="type">
        <option value="--">Select type</option>
        <option value="Private Sector">Private Sector</option>
        <option value="Other">Other</option>
        <option value="Academic Institution">Academic Institution</option>
      </select>
    </div>

    <div class="form-control">
      <label for="focus">Focus:</label>
      <input type="text" name="focus" id="focus">
    </div>

    <div class="form-control">
      <label for="innovation">Innovation:</label>
      <input type="text" name="innovation" id="innovation">
    </div>

    <div class="form-control">
      <label for="partnersint">International partners:</label>
      <textarea name="partnersint" id="partnersint"></textarea>
      <p class="help-text">Add one partner per line.</p>
    </div>
    
    <div class="form-control">
      <label for="partnerslocal">Local partners:</label>
      <textarea name="partnerslocal" id="partnerslocal"></textarea>
      <p class="help-text">Add one partner per line.</p>
    </div>

    <div id="proj-locations">
      <h2>Project locations <a href="#" class="add" title="Add new project location">+</a></h2>
    </div>

    <div class="form-control">
      <input type="submit" name="project_submit" value="Submit project">
    </div>

  </form>
</div>