<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Rockefeller Project</title>

  <!-- Proper favicon has to be added later on -->
  <!-- <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon' /> -->

  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
  <!-- <link rel='stylesheet' href='styles/map.css' /> -->
  <link rel='stylesheet' href='styles/style.css' />
  <!-- <link rel='stylesheet' href='styles/reset.css' /> -->

  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
</head>
<body>


  <div id='header' class='dark-gradient'>
    <div class='inner'>
      <a class='heading' href='#'>Rockefeller <em>The Resilience Project</em><small>Last Updated: 2014</small></a>
      <ul>
        <li><a href='#' class='about'>About</a></li>
        <li><a href='#' class='getdata'>Contributue</a></li>
      </ul>
    </div>
  </div>
  <div class='sector-navigation'>
    <ul class='clearfix inner'>
      <li><a class='active' id='country' href='#'>By Country</a></li>
      <li><a class='menu-icon' id='location' href='#locations'>By Locations</a></li>
    </ul>
  </div>

  <div id='map'></div>
  <div id='overlay'></div>

  <!-- templates -->
  <script type='text/html' id='modal'>
    <div class='modal' id="<%= id %>">
      <a href='#' class='close'>&times;</a>
      <div class='heading'>
        <div class='inner'>
          <span class='title' id='modal-title'><%= title %></span>
        </div>
      </div>
      <div class='content prose'>
        <div id='modal-content'>
          <div class='content-heading clearfix'>
            <h1 class='title'><%= mainTitle %></h1>
          </div>
          <aside class='country'><%= stats %></aside>
          <%= content %>
        </div>
      </div>
    </div>
  </script>

  <script type='text/html' id='stats'>
    <br />
    <br />
    <ul class='section connections clearfix'>
      <li class='seeking'>
        <span class='connection-label'>Projects </span>
        <span class='value'><%= projects %></span>
      </li>
      <li class='providing'>
        <span class='connection-label'>Partners</span>
        <span class='value'><%= partners %></span>
      </li>
      <li class='both'>
        <span class='connection-label'>Locations</span>
        <span class='value'><%= locations %></span>
      </li>
    </ul>
  </script>

  <script type="text/html" id="projects-list">
    <div class='filters clearfix'>
    </div>
    <div class='project-heading grey-gradient clearfix'>
      <div class='project-intro'>
        <span class='label'>Programs</span>
      </div>
      <div class='project-details'>
        <ul class='project-labels clearfix'>
          <li>Locations</li>
          <li>Budget</li>
        </ul>
      </div>
    </div>
    <ul id='projects-list' class='listing'>
      <% _.each(projects, function(project) { %>
          <li>
            <a href="#" class='clearfix'>
              <div class='project-intro'>
                <p class="topic"><%= project.get('Partner') %></p>
                <h4><%= project.get('Program Name') %></h4>
                <p class='subtopic'><%= project.get('Type of Program') %></p>
              </div>
              <div class='project-details'>
                <ul class='section connections clearfix'>
                  <li class='both'>
                    <span class='connection-label'>Locations</span>
                    <span class='value'><%= _.size(project.get('locations')) %></span>
                  </li>
                  <li class='seeking'>
                    <span class='connection-label'>Budget </span>
                    <span class='value'><%= project.get('FY14 Contribution') %></span>
                  </li>
                </ul>
              </div>
            </a>
          </li>
      <% }); %>

    </ul>

  </script>


  <!-- build:js scripts/vendor.js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/topojson/topojson.js"></script>
  <script src="scripts/vendor/bootstrap.min.js"></script>
  <script src="scripts/vendor/mapbox.js"></script>
  <!-- endbuild -->

  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>


  <!-- build:js({.tmp,app}) scripts/main.js -->
  <script src="scripts/main.js"></script>
  <script src="scripts/views/country.js"></script>
  <script src="scripts/views/projects.js"></script>
  <script src="scripts/views/map.js"></script>
  <script src="scripts/views/locations.js"></script>
  <script src="scripts/models/country.js"></script>
  <script src="scripts/models/map.js"></script>
  <script src="scripts/models/project.js"></script>
  <script src="scripts/models/location.js"></script>
  <script src="scripts/collections/projects.js"></script>
  <script src="scripts/collections/countries.js"></script>
  <script src="scripts/routes/app.js"></script>
  <!-- endbuild -->

</body>
</html>
