// GLOBAL
html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #009ede;
}
a:hover {
  color: #46863C;
}

#site-canvas {
  #map {
    background: #000;
  }
}


h2 {
  margin-bottom: 10px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: #000;
}

.leaflet-tile-pane {
  opacity: 0.6;
}

.marker {
  &.cluster {
    width: 2rem;
    height: 2rem;
    border-radius: $global-rounded;
    background-color: #0081CB;

    p {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.25rem 0 0 0.25rem;
      line-height: 1.5rem;
      color: #FFF;
      font-size: 0.825rem;
      font-weight: bold;
      text-align: center;
      border-radius: $global-rounded;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &.single {
    width: 1.5rem;
    height: 1.5rem;
    margin: -0.75rem 0 0 -0.75rem;
    border-radius: $global-rounded;
    background-color: #0081CB;
    border: 4px solid #FFF;
  }
  &.secondary {
    background-color: rgba(#8A00DE, 0.64);
    border: 4px solid rgba(#FFF, 0.64);
  }
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 15rem;
  padding: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-left: -23rem;
  color: #FFF;
  background: linear-gradient(to right, #000, transparent);

  &.revealed {
    transition: margin-left 0.3s ease 0s;
    margin-left: 0rem;
  }
  
  // Make these wider than their container to maximize space for cilcking markers.
  .project,
  .tour {
    min-width: 20rem;
  }

  .title {
    line-height: 1.2;
    overflow: hidden;
    font-size: 1.5rem;
  }
  .subtitle {
    text-transform: uppercase;
  }

  .metadata {
    font-size: 0.825rem;
    margin-top: 2rem;

    dt {
      text-transform: uppercase;
    }
    dd {
      margin-bottom: 1rem;
      font-size: 0.75rem;
    }

    ul {
      list-style: none;
    }

    .budget + dd {
      font-size: 1rem;
    }
  }
}

#sidebar nav {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;

 
  
  .project-cntrl {
    display: none;
     
     &.revealed {
    display: block;
    }
  }

  ul {
    list-style-type: none;
    width: 100%;
    @extend .clearfix;

    li {
      float: left;
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 2.5rem;
      text-align: center;
      color: #333;
      background: #FFF;
      border-radius: $global-rounded;
    }
    a:hover {
      opacity: 0.6;
    }
  }
}
#tour {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0, 0.5);
  left: 0;
  bottom: 0;
  z-index: 100;
  color: #fff;
  .content {
    padding: 30px;
  }
}